<div>
    <h2> Create Movie</h2>
    <form action="/movies/create" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div>
            <label for="name">Genre</label>
            <input type="text" id="genre" name="genre">
        </div>
        <div>
            <label for="name">Plot</label>
            <input type="text" id="plot" name="plot">
        </div>
        <div>
            <label for="cast">Cast</label>
            <select name="cast" id="cast" multiple>
                {{#each celebrities}}
                    <option value={{this.id}}>{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit"> Create </button>
    </form>
</div>